@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "aos/dist/aos.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  --color-primary: #1959ac;
  --color-blue-gray-600: #475569;
  --color-blue-gray-900: #0f172a;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  color: #222222;
  background: #fff;
}

.h-font {
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-bg {
  animation: bgZoom 15s ease-in-out infinite alternate;
}

/* Fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-out forwards;
}

.animate-fadeInSlow {
  animation: fadeIn 3s ease-out forwards;
}

/* Fade + slight upward movement */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1.2s ease-out forwards;
}

/* Button slide-up animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 1.6s ease-out forwards;
}

/* Slow zoom background */
@keyframes bgZoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #bdbdbd !important;
  border-radius: 50% !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  width: 25px !important;
  height: 11px !important;
  border-radius: 20% !important;
  background: #004c97 !important;
}
